<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="/">Lichen</a>

    <div class="w3-right w3-hide-small">
      <a href="/facts">Fact Generator</a>

      <a href="/map">Lichen Map</a>
      <a href="/draw">Lichen Gallery</a>
    </div>
  </div>
</div>