<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="processing.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <canvas width="60vw" height="10vh" data-processing-sources="Button.pde drawLichen.pde" ></canvas>

</body>
</html>
