<!DOCTYPE html>
<html>

<title> Lichen Facts </title>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">

	<img src="lichen1.png" alt="Lichen" width="500" height="320">

	<div class="fact">
		<h2> Fun fact about Lichen goes here! </h2>
		<a href="https://www.google.com"> Let's Learn</a>
	</div>

</div>


</body>
</html>
